public class HomWork1 {
    public static void main(String[] args) {
        int n = 13569;

        System.out.println("Pervoe");
        System.out.println(n%100_000/10_000);
        System.out.println(n%10_000/1_000);
        System.out.println(n%1_000/100);
        System.out.println(n%100/10);
        System.out.println(n%10);

        int n2 =24;

        System.out.println("vtoroe");
        System.out.println(n2%100_000/10_000);
        System.out.println(n2%10_000/1_000);
        System.out.println(n2%1_000/100);
        System.out.println(n2%100/10);
        System.out.println(n2%10);

        int n3 = 987654321;

        System.out.println("tretie");
        System.out.println(n3%100_000/10_000);
        System.out.println(n3%10_000/1_000);
        System.out.println(n3%1_000/100);
        System.out.println(n3%100/10);
        System.out.println(n3%10);


        //zadanie 2

        System.out.println("Zadanie 2");
        int days = 31;

        int year = days / 360 + 1;
        int month = days  % 360 / 30 + 1;
        int day = days % 360 % 30 +1;


        System.out.println("year" +" "+ year);
        System.out.println("month)" +" "+   month);
        System.out.println("day" +" "+  day);

        //zadanie 2

        System.out.println("Zadanie 3");

        int a = 6 ;
        int b = 9;

        int avg =((a/2 + b/2)+ ((a%2 + b%2)/2));
        System.out.println("Otvet avg "+ avg);


        
    }

}
